body {
    font-family: Arial, sans-serif;
   background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-56228.jpg?w=1060&t=st=1729230888~exp=1729231488~hmac=c4f9d4eac16b7860dfdfa95349f7a956b508111c651e6d8d379d223d36b44c9f);
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#message {
    text-align: center;
    margin-top: 20px;
    color: green;
}
